* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(210, 219, 210);
}

.main {
    padding-top: 50px;
}

nav {
    display: flex;
    align-items: center;
    min-height: 8vh;
    background-color:rgba(118, 70, 158, 0.5);
    top: 0px;
    width: 100%;
    height: 50px;
}

label {
    margin-right: 7px;
}

input {
    margin-right: 20px;
}

.logo{
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    padding-left: 50px;
    padding-top: 7px;
}

.container {
    margin-left: 100px;
}

.barra {
    bottom: 30px;
    left: 0px;
    right: 0px;
    height: 5px;
    -webkit-appearance: none !important;
    background-color: rgb(107, 99, 99);
}
.barra::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: rgb(89, 57, 107);
    height: 13px;
    width: 13px;
    border-radius: 100%;
    cursor: pointer;
}

.boton, #out, #operador {
    width: 70px;
    border: none;
    height: 20px;
    font-size: large;
    border-bottom: none;    
}

#operador {
    margin-right: 20px;
    width: 90px;
    height: 30px;
    border: none;
    color: black;
    background-color: rgb(145, 141, 141);
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
}

#operador:focus {
    outline: none;
    box-shadow: none;
  }

 input:focus {
    outline: none;
    box-shadow: none;
  } 

#file:focus {
    outline: none;
    box-shadow: none;
  }  

#file::-webkit-file-upload-button {
    background: rgb(145, 141, 141);
    color: black;
    padding: 7px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
  }

  #file:focus {
    outline: none;
}

label {
    font-size: large;
}

button {
    margin-left: 20px;
    background-color: rgb(145, 141, 141);
    border: none;
    color: black;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:focus {
    outline: none;
    box-shadow: none;
  }

.imagen {
    display: flex;
    justify-items: center; 
    width: 300px;
    margin-top: 20px;
    margin-left: 100px;

  }
  
  .imagen img {
    max-height: 100%;
    max-width: 100%;
    top: 10;
    left: 0;
    right: 0;
    bottom: 10;
  }


